# .env

SERVER_NAME=evolution                    # Nome da aplicação/servidor exibido internamente pela Evolution API
SERVER_TYPE=http                         # Protocolo utilizado pelo servidor (http ou https)
SERVER_PORT=8080                         # Porta em que a Evolution API ficará disponível
SERVER_URL=http://localhost:8080         # URL base utilizada pela aplicação para gerar links e callbacks

WEBHOOK_GLOBAL_ENABLED=true              # Habilita o webhook global para todos os eventos da Evolution API
WEBHOOK_GLOBAL_URL=''                    # URL que receberá os eventos globais da Evolution API
WEBHOOK_GLOBAL_WEBHOOK_BY_EVENTS=true    # Envia eventos separados por tipo para o webhook global
WEBHOOK_EVENTS_MESSAGES_UPSERT=true      # Dispara eventos quando mensagens são criadas ou atualizadas

CACHE_REDIS_ENABLED=true                 # Habilita o Redis como sistema de cache da aplicação
CACHE_REDIS_URI=redis://redis:6379/6     # URI de conexão com o Redis
CACHE_REDIS_PREFIX_KEY=evolution         # Prefixo utilizado nas chaves armazenadas no Redis
CACHE_REDIS_SAVE_INSTANCES=false         # Define se as instâncias serão persistidas no Redis
CACHE_LOCAL_ENABLED=false                # Habilita/desabilita o cache local em memória

CONFIG_SESSION_PHONE_VERSION=            # Versão do aplicativo WhatsApp utilizada durante a criação da sessão

AUTHENTICATION_API_KEY=                  # Chave utilizada para autenticar requisições na API da Evolution

DATABASE_PROVIDER=postgresql             # Banco de dados utilizado pela aplicação

# String de conexão utilizada para acessar o banco de dados.
# Formato:
# banco://usuario:senha@host:porta/banco
DATABASE_CONNECTION_URI=

# dialect+driver://username:password@host:port/database
DATABASE_URL=

EVOLUTION_API_URL=http://localhost:8080  # URL base da Evolution API utilizada pelo sistema para fazer requisições internas
EVOLUTION_INSTANCE=                      # Nome da instância da Evolution API utilizada pela aplicação
